.container{
  margin-top: 50px;
  aspect-ratio: 16/6;
  background: #f6e7da;
  position: relative;

  .map{
    //position: absolute;
    width: 100%;
    height: 100%;
  }

  .info{
    position: absolute;
    background: white;
    z-index: 10;
    box-shadow: 1px 0px 14px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 14px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 14px 1px rgba(0,0,0,0.75);
    top: 50px;
    left: 100px;
    width: 400px;
    height: 400px;

    .content{
      position: relative;
      width: 100%;
      height: 100%;

      .closeButton {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 30px;
      }
    }
  }
}