.background{
  position: fixed;
  z-index: 9;
  background-color: rgba(34, 34, 34, 0.49);
  top: 0;
  height: 100vh;
  width: 100vw;
}
.aside{
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  background-color: white;
  height: 100vh;
  z-index: 10;
}