.arrows{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  .box{
    display: flex;
    width: 90px;
    justify-content: space-between;
    align-items: center;

    .arrow{
      width: 40px;
      height: 40px;
      border-radius: 25px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover{
        opacity: 0.5;
      }
    }
  }
}