

.cartWrapper{
  button{
    cursor: pointer;
  }
  .header{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 200px;

    >span{
      margin: auto auto;
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 130%;
      /* identical to box height, or 65px */
      color: #303030;
    }
  }

  .cart{
    background: #F4F4F4;
    display: flex;
    justify-content: space-between;


    .cartItems{
      padding: 100px 50px;
      width: 100%;

    }

    .payment{
      min-width: 400px;
      height: 280px;
      margin: 100px 50px;
      position: sticky;
      top: 100px;

      .summary{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        /* or 23px */
        color: #C6C6C6;
      }

      .delivery{
        margin-top: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        /* or 23px */
        color: #303030;

        .deliveryPrice{
          margin-top: 20px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 130%;
          /* identical to box height, or 26px */


          color: #C6C6C6;

        }
      }
      .orderButton{
        background: #303030;
        width: 220px;
        height: 45px;
        margin-top: 40px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        /* or 23px */
        color: #FFFFFF;

        &:hover{
          background: black;
          cursor: pointer;
        }
      }
    }
  }

  //.questionnaire{
  //  background: #F4F4F4;
  //  .blank{
  //    background: white;
  //    max-width: 1300px;
  //
  //    .forms{
  //      padding-top: 100px;
  //      padding-bottom: 125px;
  //      padding-left: 110px;
  //
  //      .blankHeader {
  //        font-family: 'Montserrat';
  //        font-style: normal;
  //        font-weight: 600;
  //        font-size: 35px;
  //        line-height: 160%;
  //        /* identical to box height, or 56px */
  //        color: #303030;
  //      }
  //
  //      .flex{
  //        display: flex;
  //        column-gap: 140px;
  //
  //        .formsArea{
  //          width: 480px;
  //
  //          .additional{
  //            margin-top: 45px;
  //            font-family: 'Montserrat';
  //            font-style: normal;
  //            font-weight: 500;
  //            font-size: 20px;
  //            line-height: 130%;
  //            /* identical to box height, or 26px */
  //
  //            color: #303030;
  //          }
  //          .form{
  //            display: flex;
  //            justify-content: space-between;
  //            align-items: center;
  //            margin-top: 35px;
  //            font-family: 'Montserrat';
  //            font-style: normal;
  //            font-weight: 400;
  //            font-size: 18px;
  //            line-height: 130%;
  //            /* or 23px */
  //
  //
  //            color: #303030;
  //
  //            .blankInput{
  //              border: 1px solid #C6C6C6;
  //              outline: none;
  //              width: 350px;
  //              height: 40px;
  //            }
  //          }
  //          .deliveryTitle{
  //            margin-top: 100px;
  //            font-family: 'Montserrat';
  //            font-style: normal;
  //            font-weight: 500;
  //            font-size: 20px;
  //            line-height: 130%;
  //            /* identical to box height, or 26px */
  //            color: #303030;
  //          }
  //          .radioButtons{
  //            height: 80px;
  //            display: flex;
  //            justify-content: flex-start;
  //            align-items: center;
  //            column-gap: 60px;
  //
  //            .radio{
  //              display: flex;
  //              justify-content: center;
  //              width: 100px;
  //
  //              >input {
  //                position: absolute;
  //                z-index: -1;
  //                opacity: 0;
  //              }
  //              >input+label {
  //                display: inline-flex;
  //                align-items: center;
  //                user-select: none;
  //              }
  //              >input+label::before {
  //                content: '';
  //                display: inline-block;
  //                width: 1em;
  //                height: 1em;
  //                flex-shrink: 0;
  //                flex-grow: 0;
  //                border: 1px solid #adb5bd;
  //                border-radius: 0.25em;
  //                margin-right: 0.5em;
  //                background-repeat: no-repeat;
  //                background-position: center center;
  //                background-size: 50% 50%;
  //              }
  //
  //              >input:checked+label::before {
  //                border-color: #0b76ef;
  //                background-color: #0b76ef;
  //                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  //              }
  //
  //              /* стили при наведении курсора на checkbox */
  //              >input:not(:disabled):not(:checked)+label:hover::before {
  //                border-color: #b3d7ff;
  //              }
  //              /* стили для активного состояния чекбокса (при нажатии на него) */
  //              >input:not(:disabled):active+label::before {
  //                background-color: #b3d7ff;
  //                border-color: #b3d7ff;
  //              }
  //              /* стили для чекбокса, находящегося в фокусе */
  //              >input:focus+label::before {
  //                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  //              }
  //              /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  //              >input:focus:not(:checked)+label::before {
  //                border-color: #80bdff;
  //              }
  //              /* стили для чекбокса, находящегося в состоянии disabled */
  //              >input:disabled+label::before {
  //                background-color: #e9ecef;
  //              }
  //            }
  //          }
  //          .min{
  //            margin-top: 50px;
  //            font-family: 'Montserrat';
  //            font-style: normal;
  //            font-weight: 400;
  //            font-size: 12px;
  //            line-height: 130%;
  //            /* or 16px */
  //            color: #C6C6C6;
  //          }
  //          .confirmedButton{
  //            margin-top: 50px;
  //            background: #303030;
  //            width: 350px;
  //            height: 50px;
  //            border: none;
  //            color: white;
  //
  //            font-family: 'Montserrat';
  //            font-style: normal;
  //            font-weight: 500;
  //            font-size: 20px;
  //            line-height: 130%;
  //
  //            &:hover{
  //              background: black;
  //            }
  //          }
  //        }
  //        .deliveryArea{
  //          display: flex;
  //          justify-content: flex-end;
  //          flex-direction: column;
  //
  //          .deliveryBlock{
  //            width: 350px;
  //            height: 210px;
  //            border: 1px solid #C6C6C6;
  //            padding: 30px 46px;
  //            margin-bottom: 180px;
  //
  //            .title{
  //              margin-bottom: 25px;
  //            }
  //
  //            .item{
  //              display: flex;
  //              justify-content: space-between;
  //              margin-bottom: 20px;
  //
  //              >span{
  //                .pre{
  //                  font-family: 'Montserrat';
  //                  font-style: normal;
  //                  font-weight: 300;
  //                  font-size: 16px;
  //                  line-height: 130%;
  //                  /* identical to box height, or 21px */
  //                  color: #303030;
  //                }
  //              }
  //              .free{
  //                font-family: 'Montserrat';
  //                font-style: normal;
  //                font-weight: 400;
  //                font-size: 14px;
  //                line-height: 130%;
  //                /* or 18px */
  //                text-align: center;
  //                color: #303030;
  //              }
  //
  //              >span:first-child{
  //                font-family: 'Montserrat';
  //                font-style: normal;
  //                font-weight: 300;
  //                font-size: 16px;
  //                line-height: 130%;
  //                /* identical to box height, or 21px */
  //                color: #303030;
  //              }
  //
  //              >span:last-child{
  //                font-family: 'Montserrat';
  //                font-style: normal;
  //                font-weight: 400;
  //                font-size: 18px;
  //                line-height: 130%;
  //                /* or 23px */
  //                text-align: center;
  //                color: #303030;
  //              }
  //            }
  //          }
  //        }
  //      }
  //    }
  //  }
  //}
}